@model IEnumerable<ARS.BOL.WorkShop>

@{
    ViewBag.Title = "Workshop List";
}

<h2>Workshop List</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkShopTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkShopDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkShopDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkShopTopics)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorkShopTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkShopDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkShopDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkShopTopics)
        </td>
        
        <td>
            @Html.ActionLink("Attend", "Attend", new { id=item.WorkShopId })
        </td>
    </tr>
}

</table>
