<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ARS-IT Centre", "Index", "Home", new { area = "Common" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", new { Controller = "Home", Area = "Common" })</li>
                    
                    


                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("1"))
                    {
                        <li>@Html.ActionLink("Workshop", "Index", new { Controller = "WorkShop", Area = "Admin" })</li>
                        <li>@Html.ActionLink("Approval", "Index", new { Controller = "Approval", Area = "Admin" })</li>
                        <li>@Html.ActionLink("Material", "Index", new { Controller = "Material", Area = "Admin" })</li>
                        <li>@Html.ActionLink("Student List", "Index", new { Controller = "Student", Area = "Admin" })</li>
                        <li>@Html.ActionLink("Trainer List", "Index", new { Controller = "Trainer", Area = "Admin" })</li>
                        <li>@Html.ActionLink("SignOut", "SignOut", new { Controller = "Login", Area = "Security" })</li>
                        <li><a href="#">Welcome @User.Identity.Name.ToString()</a> </li>
                    }
                    if (User.IsInRole("3"))
                    {
                        <li>@Html.ActionLink("Workshop", "Index", new { Controller = "WorkShop", Area = "Student" })</li>
                        <li>@Html.ActionLink("Request WS", "Index", new { Controller = "Request", Area = "Student" })</li>
                        <li>@Html.ActionLink("Material", "Index", new { Controller = "Material", Area = "Student" })</li>
                        <li>@Html.ActionLink("Profile", "Index", new { Controller = "Profile", Area = "Student" })</li>
                        <li>@Html.ActionLink("SignOut", "SignOut", new { Controller = "Login", Area = "Security" })</li>
                        <li><a href="#">Welcome @User.Identity.Name.ToString()</a> </li>
                    }
                    if (User.IsInRole("2"))
                    {
                        <li>@Html.ActionLink("Workshop", "Index", new { Controller = "WorkShop", Area = "Common" })</li>
                        <li>@Html.ActionLink("Register", "Index", new { Controller = "Register", Area = "Common" })</li>
                        <li>@Html.ActionLink("Login", "Index", new { Controller = "Login", Area = "Security" })</li>
                    }
                }
                else
                {

                    <li>@Html.ActionLink("Workshop", "Index", new { Controller = "WorkShop", Area = "Common" })</li>
                    <li>@Html.ActionLink("Register", "Index", new { Controller = "Register", Area = "Common" })</li>
                    <li>@Html.ActionLink("Login", "Index", new { Controller = "Login", Area = "Security" })</li>
                }

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>